{{#each showProducts}}
        <div class="card text-white bg-secondary mb-2" style="max-width: 15rem;">
          <div class="row g-0">
            <div class="col-md-4 text-center">
              <img src="{{thumbnail}}" class="img-fluid rounded-start" alt="{{title}}">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{price}}</p>
                <a href="/api/productos/{{id}}" class="btn btn-light">Mas info</a>
              </div>
            </div>
          </div>
        </div>
{{else}}
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        Error
      </div>
      <div class="card-body">
        <h5 class="card-title">No existen productos para mostrar</h5>
        <p class="card-text">La base de datos de la API se encuentra vacia, puedes volver al formulario para cargar productos</p>
        <a href="/" class="btn btn-primary">Cargar productos</a>
      </div>
    </div>
  </div>
{{/each}}